/**
 * <pre>
 * << 개정이력(Modification Information) >>
 *
 *   수정일      			수정자           수정내용
 *  -----------   	-------------    ---------------------------
 *  2025. 11. 3.     	윤서현            최초 생성
 *
 * </pre>
 */
@charset "UTF-8";
.hidden {
  display: none !important;
}